@use 'src/styles/variables' as *;

.dropdown-control-wrap {

  .dropdown-item-status {
    border: none;
  }

  .dropdown-item-status.active {
    background: $active-bg;
    color: $active-color;
  }

  .dropdown-item-status.active:hover {
    background: $active-bg-hover;
  }

  .dropdown-item-status.blocked {
    background: $blocked-bg;
    color: $blocked-color;
  }

  .dropdown-item-status.blocked:hover {
    background: $blocked-bg-hover;
  }

  .dropdown-item-status.admin {
    background: $admin-bg;
    color: $admin-color;
  }

  .dropdown-item-status.admin:hover {
    background: $admin-bg-hover;
  }

  .dropdown-item-status.teacher {
    background: $teacher-bg;
    color: $teacher-color;
  }

  .dropdown-item-status.teacher:hover {
    background: $teacher-bg-hover;
  }

  .dropdown-item-status.student {
    background: $student-bg;
    color: $student-color;
  }

  .dropdown-item-status.student:hover {
    background: $student-bg-hover;
  }

  .dropdown-item-status.published {
    background: $published-bg;
    color: $published-color;
  }

  .dropdown-item-status.published:hover {
    background: $published-bg-hover;
  }

  .dropdown-item-status.draft {
    background: $draft-bg;
    color: $draft-colort;
  }

  .dropdown-item-status.draft:hover {
    background: $draft-bg-hover;
  }

  .dropdown-item-status.archived {
    background: $archived-bg;
    color: $archived-color;
  }

  .dropdown-item-status.archived:hover {
    background: $archived-bg-hover;
  }

  .dropdown-item-status.default {
    background: white;
    color: $color-gray-600;
    border: 1px solid $color-gray-300;
  }

  .dropdown-item-status.default:hover {
    background: $color-gray-100;
  }

  .dropdown-menu {
    left: 0;
  }

  .dropdown-body {
    padding: 0.75rem;

    .simplebar-content {
      display: grid;
      gap: calc(var(--spacing) * 1);
      grid-template-columns: repeat(12, minmax(0, 1fr));

      .dropdown-item-status {
        grid-column: span 12 / span 12;
      }
      .dropdown-menu.dropdown-menu-end {
        left: 0 !important;
        right: 0;
      }

      .dropdown-selected-text-content {
        font-weight: 500;
      }
    }
  }
}
