@use '@/styles/variables' as *;

.courses-list {
  .courses-item-action {
    a:hover {
      text-decoration: none;
    }
  }

  .sources-item-label {
    background-color: #F8F8F8;
  }

  .courses-item-bg-img {
    width: 85px;
    height: 64px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
  }

  .courses-item-avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .courses-item {
    font-weight: 600;
    border-bottom: 1px solid #d3d3d3;
    padding: 1rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;
  }

  .courses-item:hover {
    background-color: #F8F8F8;
  }

  .courses-item-full-name {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-theme-headings);
  }

  .courses-item-description {
    line-height: 1.2;
    font-size: $font-size-sm;
    font-weight: 300;
  }

  .courses-item-title {
    line-height: 1.2;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-theme-headings);
  }

  .courses-item-des-common {
    padding: 0.85rem 0.75rem;
  }

  .course-free {
    color: var(--color-success-700, #2f855a);
    font-weight: 500;
  }
}
