@use '@/styles/variables' as *;

.courses-list {
  .courses-item-action {
    a:hover {
      text-decoration: none;
    }
  }

  .sources-item-label {
    background-color: #F8F8F8;
  }

  .courses-item-bg-img {
    width: 85px;
    height: 64px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
  }

  .courses-item {
    font-weight: 600;
    border-bottom: 1px solid #d3d3d3;
    padding: 1rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .courses-item:hover {
    background-color: #F8F8F8;
  }

  .courses-item-full-name {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-theme-headings);
  }

  .courses-item-description {
    line-height: 1.2;
    font-size: $font-size-sm;
    font-weight: 300;
  }

  .courses-item-title {
    line-height: 1.2;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-theme-headings);
  }

  .courses-item-des-common {
    padding: 0.85rem 0.75rem;
  }

  .courses-item-status.info {
    background: var(--primary-500);
  }

  .courses-item-status.warning {
    background: linear-gradient(135deg, var(--color-warning-600) 0%, var(--color-warning-200) 100%);
  }

  .courses-item-status.success {
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%)
  }

  .courses-item-status {
    width: 70px;
    font-size: $font-size-xs;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}
